body {
  background-color: rgb(39, 38, 38);
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  text-align: center;
}

.header-container {
  background-color: rgb(101, 99, 180);
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-size: 3em;
  color: white;
}

.header-container p {
  margin: 0;
  padding: 0.5em;
  transform: translateY(-200px);
  animation: slideDownHeader 3s ease forwards;
}

@keyframes scaleMessage {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes slideDownHeader {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes colorsAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.header-container .rgb {
  font-weight: bold;
  background-color: white;
  color: rgb(101, 99, 180);
}

.bar-container {
  background-color: white;
  color: rgb(101, 99, 180);
  /* overflow: hidden; */
}

.bar-container p {
  display: inline-block;
  margin: 0;
}

.bar-container .newgame,
.bar-container .difficulty,
.bar-container .message-container {
  display: inline-block;
}

.bar-container .message-container {
  margin: 0 10em;
}

.bar-container .newgame p {
  cursor: pointer;
  padding: 0.3em;
}

.bar-container .difficulty {
  display: inline-block;
  cursor: pointer;
}

.bar-container .difficulty p {
  margin: 0 0.5em;
}

#message {
  display: inline-block;
  padding: 0.3em;
  animation: scaleMessage 1.5s linear infinite alternate;
}

.allcolors-container {
  margin: 5em 0;
}

.color-container {
  cursor: pointer;
  height: 4em;
  width: 4em;
  position: relative;
  margin: 2em 1.5em;
  padding: 3em;
  display: inline-block;
  border-radius: 1em;

  animation: colorsAppear 3s ease;
  transition: transform 0.4s ease;
}

.color-container:hover {
  transform: rotate(45deg);
}

.active {
  color: white;
  background-color: rgb(101, 99, 180);
  padding: 0.3em;
}

@media only screen and (max-width: 768px) {
  .allcolors-container {
    margin: 1em 0 0;
  }
}
